@font-face {
  font-family: 'AmazonEmber';
  src: url('/src/assets/font/Amazon-Ember-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'AmazonEmber', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  background-color: #d7d7d7;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.navbar {
  background-color: #d7d7d7;
  padding: 0;
  height: 6vh;
}

.nav-div {
  height: 48px;
  font-size: 20px;
  border: none;
  background-color: #FF9900;
  cursor: pointer;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.add-a-catch-wrapper {
  border-top: #414141 solid 1px;
  height: 89vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sas-map-wrapper {
  height: 89vh;
  display: flex;
  align-content: center;
  width: 100%;
}

.nav-link {
  font-family: 'AmazonEmber';
  color: white
}

.active {
  color: black;
}

.image-info-window {
  height: auto;
  width: 200px;
}

.info-window-edit-form {
  height: 340px;
  width: 200px;
}

#def-spot {
  height: auto;
  color: white;
  opacity: 1.00;
  background-color: #FF9900;
}