@font-face {
  font-family: 'AmazonEmber';
  src: url('/src/assets/font/Amazon-Ember-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'AmazonEmber', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  background-color: #d7d7d7;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #858484;
  box-shadow: 0 1px 0 rgb(0, 0, 0);
  padding: 0;
  height: 6vh;
}

.nav-div {
  height: 48px;
  font-size: 20px;
  border: none;
  background-color: #FF9900;
  cursor: pointer;
}

.map-wrapper {
  height: 93vh;
  display: flex;
  justify-content: center;
}

.sas-map-wrapper {
  height: 93vh;
  width: 48%;
}

.add-a-catch-wrapper {
  margin-top: .25%;
  height: 93vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  font-family: 'AmazonEmber';
  color: white
}

.active {
  color: black;
}

.image-info-window {
  height: 200px;
  width: 200px;
}